{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>ExMoney Login</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'exapp/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'exapp/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'exapp/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'exapp/assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'exapp/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'exapp/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'exapp/assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'exapp/assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'exapp/assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: KnightOne - v2.2.1
  * Template URL: https://bootstrapmade.com/knight-simple-one-page-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
 

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-8 offset-md-34">
          <div class="card">
            <div class="card-header shawdow-ms bg-light">
              <h2 style="color: black; font-weight: bold;"> LOGIN </h2>
          <form method="POST" action="http://localhost:8000/exapp/login/">
            {% csrf_token %}

            <div class="form-group" style="text-align: center;">
                  
                  <div>
                      <label style="text-align: start; color: black; font-weight: bold;">Username *</label>
                      <input style="width: 50%; text-align: center; margin-left: 25%;" type="text" class="form-control"  id ='username' type="username" name="username" placeholder="Username" >
                  </div>
                  <div>
                      <label style="text-align: start; color: black; font-weight: bold;">Password *</label>
                      <input style="width: 50%; text-align: center; margin-left: 25%;"  class="form-control"  id = 'pwd' type="password" name="pwd" placeholder="Password" >
                  </div>
            </div>
           
                {% for message in messages %}
                <p style="color:red"> {{message}} </p>
                {% endfor %}
                <button type="submit" class="get-started-btn scrollto" style="border-bottom-style: groove;border-top-style: none; border-left-style: none; border-right-style: hidden;background-color:rgb(25, 219, 161); font-weight: bold; color: black;">Login</button><br><br>
                <a href="{% url 'exapp:register' %} " class="get-started-btn scrollto" style="border-bottom-style: groove;border-top-style: none; border-left-style: none; border-right-style: hidden;background-color:rgb(25, 219, 161);font-weight: bold; color: black;"><u>Create an account</u></a>
              
          </form>
         
          
           </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
   

        <!-- <div class="row content">
          <div class="col-lg-6">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
              <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <a href="#" class="btn-learn-more">Learn More</a>
          </div>
        </div> -->

      <!-- </div> -->
    </section><!-- End About Us Section -->

    <!-- ======= Services Section ======= -->
    

    <!-- ======= Cta Section ======= -->
    

    <!-- ======= Features Section ======= -->
    
    </section><!-- End Features Section -->

    <!-- ======= Clients Section ======= -->
    

    <!-- ======= Counts Section ======= -->
    
    <!-- ======= Portfolio Section ======= -->
    

    <!-- ======= Pricing Section ======= -->
    
    <!-- ======= Faq Section ======= -->
    
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>ExMoney</h3>
      <p>Buy Foreign Currency at Live Exchange Rate</p>
      
      <div class="copyright">
        &copy; Copyright <strong><span>ExMoney</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/knight-simple-one-page-bootstrap-template/ -->
        Designed by <a href="#"> ExMoney</a>
      </div>
    </div>
  </footer><!-- End Footer -->
  

  <div id="preloader"></div>
  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'exapp/assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'exapp/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'exapp/assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'exapp/assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'exapp/assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'exapp/assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'exapp/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'exapp/assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'exapp/assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'exapp/assets/js/main.js' %}"></script>

</body>

</html>