{% extends 'base.html' %}

{% block content %}

<form method="POST" action="#">
    <input type="text" placeholder="Enter Your Name"><br><br>
    <input type="email" placeholder="Enter Email"><br><br>
    <input type="password1" placeholder="Enter password"><br><br>
    <input type="password2" placeholder="Confirm password"><br><br>
    <button type="submit" class="get-started-btn scrollto">register</button><br><br>
    <!-- <p style="color: white;"> Dont have account create here </p>
    <button type="submit" class="get-started-btn scrollto">Register</button> -->

</form>